<script>
  $(function () {

    $('#container').highcharts('StockChart', {
      rangeSelector : {
        selected : 1
      },

      title : {
        text : gon.title
      },

      series : [{
        name : gon.symbol,
        data : gon.prices,
        tooltip: {
        valueDecimals: 2
        }
      }]
    });
  });
</script>
<div class="col-xs-10 col-xs-offset-1" id="container" style="height: 400px; width: 880px"></div>
<br/>
<br/>
<div class="background-box col-xs-8 col-xs-offset-2">
  <br/>
  <div class="col-xs-8 col-xs-offset-2">
    <h1><%= @stock.name %> (<%= @stock.symbol %>)</h1>
    <h4>Exchange: <%= @stock.stock_exchange %></h4>
    <br/>
    <h2>Last Trade: <%= @stock.last_trade_price_only %></h2>
    <h4>Change: <%= @stock.change %> (<%= @stock.percent_change %>)</h4>
    <h4><%= @stock.last_trade_date %>, <%= @stock.last_trade_time %><h4>
    <br/>
    <h4>Low: <%= @stock.days_low %></h4>
    <h4>High: <%= @stock.days_high %></h4>
    <h4>Open: <%= @stock.open %></h4>
    <h4>Volume: <%= @stock.volume %></h4>
    <h4>Averge Daily Volume: <%= @stock.average_daily_volume %></h4>
    <h4>Market Cap:<%= @stock.market_capitalization %></h4>
    <h4>PE Ratio: <%= @stock.pe_ratio %></h4>
    <h4>Earnings per share: <%= @stock.earnings_share %></h4>
    <h4>50 Day Moving Average: <%= @stock.fiftyday_moving_average %></h4>
    <h4>200 Day Moving Average: <%= @stock.two_hundredday_moving_average %></h4>
  </div>
</div> 
<br class="clear" />
<br/>
<br/>
<div class="background-box col-xs-8 col-xs-offset-2">
  <br/>
  <div class="col-xs-8 col-xs-offset-2">
    <h1>Technicals</h1><br/>
    <h4>Moving Average: <%= @sma.round(2) %></h4>
    <h4>Bollinger Band Upper: <%= @bb[1].round(2) %></h4>
    <h4>Bollinger Band Lower: <%= @bb[2].round(2) %></h4>
    <h4>MACD line: <%= @macd[0].round(2) %></h4>
    <h4>MACD Signal line: <%= @macd[1].round(2) %></h4>
    <h4>MACD histogram: <%= @macd[2].round(2) %></h4>
    <h4>Relative Strength Index (RSI): <%= @rsi.round(2) %></h4>
    <h4>Stochastic Oscillator Fast: <%= @sto[0].round(2) %> %K</h4>
    <h4>Stochastic Oscillator Slow: <%= @sto[1].round(2) %> %K</h4>
    <h4>Stochastic Oscillator Full: <%= @sto[2].round(2) %> %K</h4>
    <br/>
    <h4>Support and Resistance Levels:</h4>
      <ul>
      <% @sup_resist.each do |price, strength| %>
        <li><h4><%= "#{price}, #{strength} strength" %><h4/></li>
      <% end %>
      <ul>
  </div>
</div>
<br class="clear" />
<br/>
<br/>

