<p><%= @quote.name %></p>
<p><%= @quote.stock_exchange %></p>
<p><%= @quote.symbol %></p>
<p><%= @quote.last_trade_price_only %></p>
<p><%= @quote.change %></p>
<p><%= @quote.percent_change %></p>
<p><%= @quote.days_low %></p>
<p><%= @quote.days_high %></p>
<p><%= @quote.open %></p>
<p><%= @quote.volume %></p>
<p><%= @quote.market_capitalization %></p>
<p><%= @quote.pe_ratio %></p>
<p><%= @quote.average_daily_volume %></p>
<p><%= @quote.earnings_share %></p>
<p><%= @quote.fiftyday_moving_average %></p>
<p><%= @quote.two_hundredday_moving_average %></p>

<h2>Moving Average</h2>
<p><%= @sma.round(2) %></p>
 
<h2>Bollinger Bands</h2>
<p><%= "Upper: #{@bbs[1].round(2)}, Lower: #{@bbs[2].round(2)}" %></p>

<h2>Moving Average Convergence Divergence (MACD)</h2>
<p><%= "MACD line: #{@macd[0].round(2)}, Signal line: #{@macd[1].round(2)}, MACD histogram: #{@macd[2].round(2)}" %></p>

<h2>Relative Strength Index (RSI)</h2>
<p><%= @rsi.round(2) %></p>

<h2>Full Stochastic Oscillator</h2>
<p><%= "Fast: #{@sto[0].round(2)}%K, Slow: #{@sto[1].round(2)}%K, Full: #{@sto[2].round(2)}%D" %></p>